<div class="container" nz-flex [nzVertical]="true" nzJustify="center" nzAlign="center">
    <div class="form-heading">
        <h2 class="form-title">
            {{formMeta.formTitle}}
        </h2>
        <p class="form-description">
            {{formMeta.formDescription}}
        </p>
        <nz-divider></nz-divider>
    </div>
    @for (question of formMeta.formQuestions; track $index) {
        <div class="question-tab">
            <div class="question">
                {{$index+1}}. {{question.question}}
            </div>
        @if(question.questionType == 0){
                <app-short-question-options
                [question]="question"
                ></app-short-question-options>
        }
        @else if (question.questionType == 1) {
                <app-multiple-choice-options
                [question]="question"
                ></app-multiple-choice-options>
        }
        @else if(question.questionType == 2){
                <app-checkbox-options
                [question]="question"
                ></app-checkbox-options>
        }
        @else if(question.questionType == 3){
                <app-dropdown-options
                [question]="question"
                ></app-dropdown-options>
        }
    </div>
    }

    <div nz-flex nzJustify="flex-start" style="width: 100%;">
        <button routerLink="/home" class="submit" nz-button nzType="primary">Submit</button>
    </div>
</div>