/* You can add global styles to this file, and also import other style files */

:root{
    /* colors */
    --primary-color: #673ab7;
    --background-color: #f0ebf8;
    --foreground-color: white;
    --selection-color: #4285f4;

    /* others */
    --tab-width: 827px;
    --border-radius: 6px;
}

body{
    background-color: var(--background-color);
}